@import url('https://fonts.googleapis.com/css2?family=Croissant+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poltawski+Nowy&display=swap');

:root {
    --bg_gray: #fedcd2;
    --border_gray: #D1D1D1;
    --blue: #1900D5;
    --text_gray: #7C7C7C;
}

* {
    font-family: Roboto, Arial, Helvetica;
    font-weight: 250;
    margin: 0; padding: 0; border: none;
}

button {
    background-color: blueviolet;
    color: white;
    border-radius: 6px;
    border-style: none;
    padding: 0.4em 1em;
    cursor: pointer;
}
tag {
    background-color: rgb(43, 107, 226);
    margin-right: 10px;
    
    color: white;
    border-radius: 6px;
    border-style: none;
    padding: 0.3em 0.8em;
    cursor: pointer;
    
}
recipeTitle {
    background-color: white;
    margin-bottom: 10px;
    
    color: black;
    border-radius: 6px;
    border-style: none;
    padding: 0.3em 0.8em;
    cursor: pointer;
}

/* Remove default link format: */
a {
    color: black;
    text-decoration: none;
}

a:hover {
    color:black; 
    text-decoration:none; 
    cursor:pointer;  
}