.HomePage{
    padding-top: 10vh;
    background-color: var(--bg_gray);
    width: 100vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

.NewRecipe{
    margin: 2.2em auto;
}
.CreateRecipeBtn{
    background-color: #C1839F;
    font-size: 1.1em;
    height: 2.2em;
}
.CreateRecipeBtn:disabled{
    background-color: #e1ced7;
    cursor: default;
}

.About {
    margin: 2em auto;
    display: flex;
    flex-direction: column;
    align-items: left;
    font-size: 1.2em;
}
.About h1{
    font-size: 2em;
    margin-bottom: 15px;
    text-align: center;
}
.About p{
    text-align: left;
}
.About ul{
    text-align: left;
    margin-left: 1.2em;
}
