.SearchSortBar{
    background-color: white;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 0px;
    width: 42vw;
    border-color: var(--border_gray);
    border-radius: 4px;
    border-style: solid;    
    display: flex;
    flex-direction: column;
    padding: 0.6em 0.6em;   
}
#search-box{
    width: 40vw;
    height: 100%;
    border: 1px var(--border_gray) solid;
    border-radius: 5px;
    margin-left: 0.5em;
}
:placeholder-shown{
    font-style: italic;
}
#search-box #search-text{
    font-weight: 200;
    font-size: 1em;
    width: 32.5vw;
    outline: none;
    padding: 0.4em 1em;
}
#search-box #search-btn{
    width: 5.1vw;
    height: 3em;
    background-color: #C1839F;
}
#Order{
    margin-top: 13px;
    margin-bottom: 13px;
    margin-left: 0.5em;
}
#lbl{
    margin-right: 6px;
}
#Order #rating{
    margin-left: 5px;
}
#SearchTag{
    margin-bottom: 10px;
    margin-left: 0.5em;
    display: flex;
    gap: 0.5em;
    width: 35vw;
    align-items: center;
}

#SearchTag #search-tag {
    border: 1px var(--border_gray) solid;
    border-radius: 5px;
    outline:none;
    width: 30vw;
    height: 1.5em;
    font-weight: 200;
}
.SearchErrMsg{
    font-size: 1em;
    background-color: crimson;
    width: fit-content;
    margin: auto;
    margin-top: 1em;
    padding: 0.5em 1em;
}